In [23]:
import sys
sys.path.insert(0,'../models/')
sys.path.insert(0,'../datasets/')
sys.path.insert(0,'..')

import pandas as pd
import numpy as np
import json
import tensorflow as tf
from subprocess import Popen, PIPE, STDOUT
import re

from models import PropbankEncoder
import config

INPUT_DIR = '../datasets/binaries/'
PROPBANK_GLO50_PATH = '{:}deep_glo50.pickle'.format(INPUT_DIR)

<h1><center>Structured Predictions Network CWIS SRL (BR)</center></h1>

<center>In this notebook we solve the semantic role labeling task using structured predictions networks.</center>

## 1. Builds a "human friendly" version of the dataset

In [24]:
dfgs = pd.read_csv('../datasets/csvs/gs.csv', index_col=0, sep=',', encoding='utf-8')
column_files = [
    '../datasets/csvs/column_chunks/chunks.csv',
    '../datasets/csvs/column_predmarker/predicate_marker.csv',
    '../datasets/csvs/column_shifts_ctx_p/form.csv',
    '../datasets/csvs/column_shifts_ctx_p/gpos.csv',
    '../datasets/csvs/column_shifts_ctx_p/lemma.csv',
    '../datasets/csvs/column_t/t.csv',
    '../datasets/csvs/column_iob/iob.csv'
]

for col_f in column_files:
    _df = pd.read_csv(col_f, index_col=0, encoding='utf-8')
    dfgs = pd.concat((dfgs, _df), axis=1)

DISPLAY_COLUMNS = ['ID', 'P', 'FORM', 'ARG', 'T', 
                   'CHUNK_ID', 'CHUNK_START', 'CHUNK_FINISH', 'CHUNK_LEN', 'CHUNK_CANDIDATE_ID']            
dfgs[DISPLAY_COLUMNS].head(33)

,ID,P,FORM,ARG,T,CHUNK_ID,CHUNK_START,CHUNK_FINISH,CHUNK_LEN,CHUNK_CANDIDATE_ID
INDEX,,,,,,,,,,
0,1,1,Bras√≠lia,*,*,1,0,1,1,0
1,2,1,Pesquisa_Datafolha,(A0*,A0,2,1,4,3,35
2,3,1,publicada,*,A0,2,1,4,3,35
3,4,1,hoje,*),A0,2,1,4,3,35
4,5,1,revela,(V*),V,3,4,5,1,126
5,6,1,um,(A1*,A1,4,5,32,27,181
6,7,1,dado,*,A1,4,5,32,27,181
7,8,1,supreendente,*,A1,4,5,32,27,181
8,9,1,:,*,A1,4,5,32,27,181
9,10,1,recusando,*,A1,4,5,32,27,181
10,11,1,uma,*,A1,4,5,32,27,181
11,12,1,postura,*,A1,4,5,32,27,181
12,13,1,radical,*,A1,4,5,32,27,181
13,14,1,",",*,A1,4,5,32,27,181
14,15,1,a,*,A1,4,5,32,27,181
15,16,1,esmagadora,*,A1,4,5,32,27,181
16,17,1,maioria,*,A1,4,5,32,27,181
17,18,1,(,*,A1,4,5,32,27,181
18,19,1,77,*,A1,4,5,32,27,181
19,20,1,%,*,A1,4,5,32,27,181
20,21,1,),*,A1,4,5,32,27,181
21,22,1,de,*,A1,4,5,32,27,181
22,23,1,os,*,A1,4,5,32,27,181
23,24,1,eleitores,*,A1,4,5,32,27,181
24,25,1,quer,*,A1,4,5,32,27,181
25,26,1,o,*,A1,4,5,32,27,181
26,27,1,PT,*,A1,4,5,32,27,181
27,28,1,participando,*,A1,4,5,32,27,181
28,29,1,de,*,A1,4,5,32,27,181
29,30,1,o,*,A1,4,5,32,27,181
30,31,1,Governo,*,A1,4,5,32,27,181
31,32,1,Fernando_Henrique_Cardoso,*),A1,4,5,32,27,181
32,33,1,.,*,*,5,32,33,1,560

## 2. Gets encodings

Propbank Encoder holds an indexed version of propbank dataset an answers to FOUR different dataformats: 
* CAT: this is the raw categorical data.
* EMB: tokens are embedding using GloVe embeddings.
* HOT: onehot encoding of the words and tokens.
* IDX: dense indexed representations.

In [38]:
# LOAD ENCODER
propbank_encoder = PropbankEncoder.recover(PROPBANK_GLO50_PATH)
db = propbank_encoder.db
lex2idx = propbank_encoder.lex2idx
idx2lex = propbank_encoder.idx2lex

In [39]:
print('attributes\t',
       len(db),
      '\n',             
      'records\t',
       len(db['ARG'].keys()))

attributes	 44
 records	 141730

In [40]:
def filter_type(ds_type, db):
    '''Filters only records from train dataset
    '''
    ds_types = ('train', 'test', 'valid')
    if ds_type not in ds_types:
        _msg = 'ds_type must be in {:} got {:}'
        _msg = _msg.format(ds_types, ds_type)
        raise ValueError(_msg)
    elif ds_type in ('train',):
        lb = 0 
        ub = config.DATASET_TRAIN_SIZE
    elif ds_type in ('test',):        
        lb = config.DATASET_TRAIN_SIZE
        ub = lb + config.DATASET_VALID_SIZE         
    elif ds_type in ('valid',):                
        lb = config.DATASET_TRAIN_SIZE + config.DATASET_VALID_SIZE
        ub = lb + config.DATASET_TEST_SIZE         

    sel_keys_ = {key_ for key_, prop_ in db['P'].items() if prop_ > lb and prop_ <= ub}

    return {
                attr_:{ idx_: i_
                        for idx_, i_ in dict_.items() if idx_ in sel_keys_
                      }        
                for attr_, dict_  in db.items()
            }

def reindex_prop(db):
    '''Reindex db by propositions creating a nested dict in which the
        outer key is the proposition
    '''
    
    triple_list = []
    prev_prop = -1
    for idx, prop in db['P'].items():
        if prev_prop != prop:
            if idx > 0:
                ub = idx-1
                triple_list.append((lb, ub, prev_prop))
            lb = idx
        prev_prop = prop
    triple_list.append((lb, ub, prev_prop))
            

        
    prop_set = set(db['P'].values())
    return { prop_:
                    {
                        attr_:{ idx_: dict_[idx_]
                                for idx_ in range(lb_, ub_ + 1, 1)
                          }        
                        for attr_, dict_ in db.items() if attr_ not in ('P',)
                    }
             for lb_, ub_, prop_ in  triple_list
            }, {prop_: ub_ - lb_ + 1 for lb_, ub_, prop_ in  triple_list}

In [41]:
traindb  = filter_type('train', db)
print('attributes\t',
       len(traindb),
      '\n',             
      'records\t',
       len(traindb['ARG'].keys()))

attributes	 44
 records	 123846

In [42]:
traindb1, proplen_dict = reindex_prop(traindb)
print('attributes\t',
       len(traindb1[1]) + 1,
      '\n',             
      'records\t',
       sum([len(d['ARG']) for p, d in traindb1.items()]))

attributes	 44
 records	 123837

In [59]:
def generate_chunk_space(n):
    '''Generates all possible spaces for chunks
    '''
    start_list = []
    end_list = []
    for i in range(n):
        for j in range(i,n,1):
            start_list.append(i)
            end_list.append(j+1)
    return  start_list, end_list

def get_outputs(db1, propid ,t2idx):
    ''' Generate outputs
    '''
#     df_sentence = df_data[df_data['sentence_id']==sentence_id]
#     sentence_chunks = df_sentence['chunk_candidate_id'].unique()
#     chunk_classes = df_sentence.groupby('chunk_candidate_id')[target].first().map(target_to_id).values

#     n_classes = len(target_to_id)
#     output = sentence_chunks * n_classes + chunk_classes
#     return output.reshape((len(sentence_chunks),1)).astype(np.int32)
    propdb = db1[propid] # nested dict of columns and idx value
    propchunks_list = list(set(propdb['CHUNK_CANDIDATE_ID'].values()))
    chunksclasses_list = zip(propdb['CHUNK_CANDIDATE_ID'].values(), 
                             propdb['T'].values())
    chunksclasses_list = list(set(chunksclasses_list))
    n_targets = len(t2idx)
#     outputs_ = propchunks_list * n_targets + n_targets
    outputs_ = propchunks_list * n_targets
    return outputs_

In [57]:
propid  = 1
propdb = traindb1[propid]
propdb['T']

{0: 0,
 1: 1,
 2: 1,
 3: 1,
 4: 35,
 5: 2,
 6: 2,
 7: 2,
 8: 2,
 9: 2,
 10: 2,
 11: 2,
 12: 2,
 13: 2,
 14: 2,
 15: 2,
 16: 2,
 17: 2,
 18: 2,
 19: 2,
 20: 2,
 21: 2,
 22: 2,
 23: 2,
 24: 2,
 25: 2,
 26: 2,
 27: 2,
 28: 2,
 29: 2,
 30: 2,
 31: 2,
 32: 0}

In [ ]:
%%timeit
word, gpos, chunk_type = traindb1[1120]['FORM'].values(), traindb1[1120]['GPOS'].values(), traindb1[1120]['T'].values(), 
chunk_start, chunk_finish = generate_chunk_space(proplen_dict[1120])
y = get_outputs(traindb1, 1120, lex2idx['T'])
# worst proposition 1120 size 92!