 # 1. DEFINE I/O DATA FRAMES

 ## Specifications can be found @
 > http://www.lsi.upc.edu/~srlconll/soft.html#srlconll

In [1]:
import sys
sys.path.append('../models/')
sys.path.append('../')

import numpy as np 
import pandas as pd 
import re 

from propbank import Propbank



MODEL_NAME='dblstm_crf_2'
HPARAMS_STR='lr1.00e-04_hs8x4_ctx-p1_glove_s50'
MODEL_V= '00'
INPUT_DIR= '../datasets/binaries/'
OUTPUT_DIR='../outputs/'

INPUT_PATH = '{:}{:}'.format(INPUT_DIR, 'db_pt_LEMMA_glove_s50.pickle')
OUTPUT_PATH= '{:}{:}/{:}/{:}/{:}'.format(OUTPUT_DIR,MODEL_NAME,HPARAMS_STR,MODEL_V, 'Yhat_valid.csv')
TARGET_EVALUATION_PATH= '{:}{:}/{:}/{:}/{:}'.format(OUTPUT_DIR,MODEL_NAME,HPARAMS_STR,MODEL_V, 'conll_evaluate_valid.txt')
TARGET_GOLDENSTD_PATH=  '{:}{:}/{:}/{:}/{:}'.format(OUTPUT_DIR,MODEL_NAME,HPARAMS_STR,MODEL_V, 'conll_golden_valid.txt')



print(INPUT_PATH)
print(OUTPUT_PATH)

../datasets/binaries/db_pt_LEMMA_glove_s50.pickle
../outputs/dblstm_crf_2/lr1.00e-04_hs8x4_ctx-p1_glove_s50/00/Yhat_valid.csv

In [ ]:
# loads propbank data read binary 
propbank= Propbank.recover(INPUT_PATH)

#asks for FUNC column with encodings: (verbs in plain text)
PRED_d= propbank.feature('valid', 'PRED', True)
ARG_d=  propbank.feature('valid', 'ARG', True)

# read the model's output
df = pd.read_csv(OUTPUT_PATH, sep=',')
df.head()

Python 3.6.3 |Anaconda custom (64-bit)| (default, Oct  6 2017, 12:04:38)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)] on darwin
Type "help", "copyright", "credits" or "license" for more information.
(InteractiveConsole)

In : index, values=zip(*[(idx, self.encode(self.data[feature][idx],feature))					 					for idx, s in self.data['S'].items() 						if s>=lb and s< ub+1])

ValueError: not enough values to unpack (expected 2, got 0)

 # 2. Outputs Conll

In [9]:
def outputs_conll(df, target_column='Y_0'):
	'''
		Converts a dataset to conll format 
	'''
	df= df[['S', 'P', 'FUNC', target_column]].copy()

	#Replace '-' making it easier to concatenate
	sub_fn= lambda x: re.sub('-', '', x)
	df['FUNC'] = df['FUNC'].apply(sub_fn)
    
	s0= min(df['S'])
	sn= max(df['S'])
	for i,si in enumerate(range(s0,sn+1)):
	    dfsi=df.loc[df['S'] == si,:]
	    p0= min(dfsi['P'])
	    pn= max(dfsi['P'])    
	    for j,p in enumerate(range(p0,pn+1)): # concatenate by argument columns
	        dfpj=dfsi.loc[df['P']==p,:].reset_index(drop=True)
	        if j==0:
	            dfp=dfpj[['FUNC',target_column]]
	            dfp=dfp.rename(columns={target_column: 'ARG0'})
	        else:
	            dfp['FUNC']=dfp['FUNC'].map(str).values + dfpj['FUNC'].map(str).values
	            if 'serser' in dfp['FUNC'].values:
	               import code; code.interact(local=dict(globals(), **locals()))
	            dfp= pd.concat((dfp, dfpj[target_column]), axis=1)
	            dfp=dfp.rename(columns={target_column: 'ARG{:d}'.format(p-p0)})            
	    if i==0:        
	        dfconll= dfp
	    else:
	        dfconll= dfconll.append(dfp)
	    blank_series= pd.Series([None]*dfconll.shape[1], index=dfconll.columns)    
	    dfconll= dfconll.append(blank_series, ignore_index=True)
	        
	#Replace '-' making it easier to concatenate
	sub_fn= lambda x: '-' if isinstance(x,str) and len(x) == 0 else x
	dfconll['FUNC'] = dfconll['FUNC'].apply(sub_fn)
    
	#Replace Nans ( from skipping lines to empty)
	dfconll= dfconll.fillna('')
    
	#Order columns to fit conll standard
	num_columns=len(dfconll.columns)
	usecolumns=['FUNC'] + ['ARG{:d}'.format(i) for i in range(num_columns-1)]
	return dfconll[usecolumns]

 # 3. Make Evaluation

In [ ]:

dfconll = outputs_conll(df, target_column= 'Y_ARG')
dfconll.to_csv(TARGET_EVALUATION_PATH, sep= '\t', index=False, header=False)
dfconll.head()

Python 3.6.3 |Anaconda custom (64-bit)| (default, Oct  6 2017, 12:04:38)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)] on darwin
Type "help", "copyright", "credits" or "license" for more information.
(InteractiveConsole)

In : dfp['FUNC']

0
1     serser
2
3     pensar
4
5
6
7
8
9
10
11
12
13
14
Name: FUNC, dtype: object

In : dfpj['FUNC'].map(str).values

array(['', 'ser', '', '', '', '', '', '', '', '', '', '', '', '', ''], dtype=object)

In : dfpj['FUNC']

0
1     ser
2
3
4
5
6
7
8
9
10
11
12
13
14
Name: FUNC, dtype: object

In : xx=dfp['FUNC'].map(str).values
In : xx

array(['', 'serser', '', 'pensar', '', '', '', '', '', '', '', '', '', '',
       ''], dtype=object)

In : yy=dfpj['FUNC'].map(str).values
In : yy

array(['', 'ser', '', '', '', '', '', '', '', '', '', '', '', '', ''], dtype=object)

In : zz=xx+yy
In : zz

array(['', 'serserser', '', 'pensar', '', '', '', '', '', '', '', '', '',
       '', ''], dtype=object)

In : dfp.head()

     FUNC      ARG0 ARG1
0          (AM-PNC*    *
1  serser         *    *
2                 *    *
3  pensar         *    *
4                 *    *

In : dfpj.head()

      S     P FUNC Y_ARG
0  2905  5149          *
1  2905  5149  ser     *
2  2905  5149          *
3  2905  5149          *
4  2905  5149          *

In : dfsi.head()

           S     P FUNC     Y_ARG
IDX
124954  2905  5147       (AM-PNC*
124955  2905  5147  ser         *
124956  2905  5147              *
124957  2905  5147              *
124958  2905  5147              *

 # 4. Make Gold

In [8]:
dfconll_gold = outputs_conll(df, target_column='ARG_0')
dfconll_gold.to_csv(TARGET_GOLDENSTD_PATH, sep= '\t', index=False, header=False)
dfconll_gold.head()

/Users/guilhermevarela/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

    FUNC  ARG0 ARG1 ARG2 ARG3 ARG4 ARG5
0      -  (A2*
1      -     *
2      -    *)
3  estar  (V*)
4      -  (A1*