 # 1. DEFINE I/O DATA FRAMES

 ## Specifications can be found @
 > http://www.lsi.upc.edu/~srlconll/soft.html#srlconll

In [6]:
import numpy as np 
import pandas as pd 
import re 

MODEL_NAME='multi_bibasic_lstm'
HPARAMS_STR='lr5.00e-04_hs128x64'
MODEL_V= '01'
INPUT_DIR= '../datasets/csvs/'
OUTPUT_DIR='../outputs/'

INPUT_PATH = '{:}{:}'.format(INPUT_DIR, 'zhou_valid.csv')
OUTPUT_PATH= '{:}{:}/{:}/{:}/{:}'.format(OUTPUT_DIR,MODEL_NAME,HPARAMS_STR,MODEL_V, 'Yhat_valid.csv')
TARGET_EVALUATION_PATH= '{:}{:}/{:}/{:}/{:}'.format(OUTPUT_DIR,MODEL_NAME,HPARAMS_STR,MODEL_V, 'conll_evaluate_valid.txt')
TARGET_GOLDENSTD_PATH=  '{:}{:}/{:}/{:}/{:}'.format(OUTPUT_DIR,MODEL_NAME,HPARAMS_STR,MODEL_V, 'conll_golden_valid.txt')



print(INPUT_PATH)
print(OUTPUT_PATH)

../datasets/csvs/zhou_valid.csv
../outputs/multi_bibasic_lstm/lr5.00e-04_hs128x64/01/Yhat_valid.csv

In [7]:
df_input= pd.read_csv(INPUT_PATH, index_col=0)
df_output=pd.read_csv(OUTPUT_PATH, index_col=0)
print(df_input.shape, df_output.shape)

(12298, 11) (12298, 2)

In [8]:
df= df_input.join(df_output, how='left')
print(df.shape)

(12298, 13)

In [9]:
df.head()

,ID,S,P,P_S,FORM,LEMMA,PRED,FUNC,M_R,ARG_0,ARG_1,Y_0,Y_1
IDX,,,,,,,,,,,,,
123846,1,2879,5101,0,Entre,entre,estar,-,0,(A2*,A2,(A1*,A1
123847,2,2879,5101,0,os,o,estar,-,0,*,A2,*,A1
123848,3,2879,5101,0,convidados,convidado,estar,-,0,*),A2,*),A1
123849,4,2879,5101,0,estão,estar,estar,estar,1,(V*),V,(V*),V
123850,5,2879,5101,0,o,o,estar,-,1,(A1*,A1,(A1*,A1

 # 2. Make Evaluation

In [ ]:
df_evaluation= df[['S', 'P', 'FUNC', 'Y_0']]
# re.sub(pattern, repl, string, count=0, flags=0)

#Replace '-' making it easier to concatenate
sub_fn= lambda x: re.sub('-', '', x)
df_evaluation['FUNC'] = df_evaluation['FUNC'].apply(sub_fn)


s0= min(df['S'])
sn= max(df['S'])
for i,si in enumerate(range(s0,sn+1)):
    dfsi=df_evaluation[ df_evaluation['S'] == si ]
    p0= min(dfsi['P'])
    pn= max(dfsi['P'])    
    for j,p in enumerate(range(p0,pn+1)): # concatenate by argument columns
        dfpj=dfsi[dfsi['P']==p].reset_index(drop=True)
        if j==0:
            dfp=dfpj[['FUNC','Y_0']]
            dfp=dfp.rename(columns={'Y_0': 'ARG0'})
        else:
            dfp['FUNC']=dfp['FUNC'].map(str).values + dfpj['FUNC'].map(str).values
            dfp = pd.concat((dfp, dfpj['Y_0']), axis=1)
            dfp=dfp.rename(columns={'Y_0': 'ARG{:d}'.format(p-p0)})            
    if i==0:        
        dfconll_evaluation= dfp
    else:
        dfconll_evaluation= dfconll_evaluation.append(dfp).fillna('')

# dfconll_evaluation.to_csv(TARGET_EVALUATION_PATH, sep= '\t', index=False, header=False)
import code; code.interact(local=dict(globals(), **locals()))		
num_columns=dfconll_evaluation.columns
usecolumns=['FUNC'] + ['ARG{:d}'.format(i) for i in range(num_columns-1)]
dfconll_evaluation=dfconll_evaluation[usecolumns]
dfconll_evaluation.to_csv(TARGET_EVALUATION_PATH, sep= '\t', index=False, header=False)
dfconll_evaluation.head()

/Users/Varela/anaconda/envs/tensorflow/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Python 3.6.3 |Anaconda, Inc.| (default, Oct  6 2017, 12:04:38)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)] on darwin
Type "help", "copyright", "credits" or "license" for more information.
(InteractiveConsole)

In : dfconll_evaluation.head(60)

    ARG0       ARG1 ARG2 ARG3 ARG4 ARG5                   FUNC
0   (A1*
1      *
2     *)
3   (V*)                                                 estar
4   (A1*
5      *
6      *
7      *
8      *
9      *
10     *
11     *
12     *
13     *
14     *
15     *
16     *
17     *
18     *
19     *
20     *
21     *
22     *
23     *
24     *
25     *
26     *
27    *)
28     *
0   (A0*      (A0*)
1      *          *
2      *          *
3      *          *
4     *)      (A0*)
5   (V*)          *                           reclamarreclamar
6   (A1*          *
7      *      (A0*)
8      *  (AM-ADV*)
9      *       (V*)                                      adiar
10     *      (A1*)
11     *  (AM-TMP*)
12     *       (A1*
13     *          *
14     *          *
15     *          *
16     *          *
17     *          *
18     *          *
19     *          *
20    *)         *)
21     *          *
0   (A0*          *    *
1     *)          *    *
2   (V*)          *    *                 agendaragendaragendar
3   (A1*          *    *
4      *          *    *
5      *          *    *
6      *          *    *
7      *          *    *
8      *       (V*)    *                            pedirpedir

 # 3. Make Gold

In [38]:
dfconll_golden= df[['FUNC', 'ARG_0']]
dfconll_golden.to_csv(TARGET_GOLDENSTD_PATH, sep= '\t', index=False, header=False)