 # 1. DEFINE I/O DATA FRAMES

In [5]:
import numpy as np 
import pandas as pd 

MODEL_NAME='multi_bibasic_lstm'
HPARAMS_STR='lr5.00e-04_hs128x64'
MODEL_V= '01'
INPUT_DIR= '../datasets/csvs/'
OUTPUT_DIR='../outputs/'

INPUT_PATH = '{:}{:}'.format(INPUT_DIR, 'zhou_valid.csv')
OUTPUT_PATH= '{:}{:}/{:}/{:}/{:}'.format(OUTPUT_DIR,MODEL_NAME,HPARAMS_STR,MODEL_V, 'Yhat_valid.csv')
TARGET_PATH= '{:}{:}/{:}/{:}/{:}'.format(OUTPUT_DIR,MODEL_NAME,HPARAMS_STR,MODEL_V, 'evaluation_valid.csv')



print(INPUT_PATH)
print(OUTPUT_PATH)

../datasets/csvs/zhou_valid.csv
../outputs/multi_bibasic_lstm/lr5.00e-04_hs128x64/00/Yhat_valid.csv

In [6]:
df_input= pd.read_csv(INPUT_PATH, index_col=0)
df_output=pd.read_csv(OUTPUT_PATH, index_col=0)
print(df_input.shape, df_output.shape)

(12298, 11) (12298, 2)

In [7]:
df= df_input.join(df_output, how='left')
print(df.shape)

(12298, 13)

In [8]:
df.to_csv(TARGET_PATH)

In [9]:
df.head()

,ID,S,P,P_S,FORM,LEMMA,PRED,FUNC,M_R,ARG_0,ARG_1,Y_0,Y_1
IDX,,,,,,,,,,,,,
123846,1,2879,5101,0,Entre,entre,estar,-,0,(A2*,A2,A2,(A2*)
123847,2,2879,5101,0,os,o,estar,-,0,*,A2,A1,(A1*)
123848,3,2879,5101,0,convidados,convidado,estar,-,0,*),A2,*,*
123849,4,2879,5101,0,estão,estar,estar,estar,1,(V*),V,*,*
123850,5,2879,5101,0,o,o,estar,-,1,(A1*,A1,A1,(A1*)

In [12]:
df2= df[['ARG_1','Y_1']]
table= pd.pivot_table(df2.iloc[:30,:], index='ARG', columns='Y_1', aggfunc=len, fill_value=0)
table

KeyError: 'ARG'

 # 2. CONFUSION MATRIX

In [41]:
df1= df[['ARG_Y','Yhat']]
table= pd.pivot_table(df1, index='ARG_Y', columns='Yhat', aggfunc=len, fill_value=0)

#Makes a unique index out of ground truth and predictions, filling with zeros
new_index= table.index.union(table.columns)
table= table.reindex(new_index, fill_value=0)
table.columns.names=['predictions']
table.index.name='ground truth'
table

predictions,*,A0,A1,A2,A3,A4,AM-ADV,AM-CAU,AM-DIR,AM-DIS,AM-EXT,AM-LOC,AM-MED,AM-MNR,AM-NEG,AM-PNC,AM-PRD,AM-REC,AM-TMP,V
ground truth,,,,,,,,,,,,,,,,,,,,
*,3645,154,204,97,4,11,31,1,0,2,0,19,0,11,4,1,20,0,17,22
A0,356,454,75,32,1,0,9,10,0,4,2,7,0,12,1,0,4,0,10,0
A1,711,103,1735,273,14,4,49,17,0,4,11,52,0,41,13,20,21,3,42,16
A2,369,51,346,508,0,6,2,3,4,0,0,5,0,6,0,4,9,1,12,23
A3,6,2,13,17,12,6,0,0,0,0,0,3,0,12,0,0,2,0,10,0
A4,2,0,4,9,0,20,0,0,0,0,0,7,0,0,0,2,0,0,1,0
AM-ADV,34,8,42,4,1,0,12,1,0,6,0,3,0,0,0,0,0,0,0,0
AM-CAU,71,13,28,7,0,0,0,14,0,0,0,1,4,3,0,0,5,0,6,1
AM-DIR,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
AM-DIS,48,4,24,0,0,0,0,0,0,6,0,0,0,0,0,0,0,0,0,3
AM-EXT,2,2,6,2,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0
AM-LOC,84,15,45,46,3,0,2,1,0,0,0,92,0,3,0,0,0,0,0,0
AM-MED,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
AM-MNR,30,8,15,31,2,0,3,10,0,0,0,36,0,18,0,0,0,0,4,1
AM-NEG,22,8,3,0,0,0,1,0,0,1,0,0,0,0,16,0,0,0,1,0
AM-PNC,26,2,15,4,0,4,0,0,0,0,0,0,0,4,0,0,0,0,4,0
AM-PRD,92,9,55,4,2,0,0,4,0,0,0,0,0,0,0,2,0,0,4,0
AM-REC,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
AM-TMP,115,36,67,76,6,1,13,2,0,1,4,34,0,5,0,5,4,0,66,0
V,190,25,56,37,0,1,1,5,7,1,2,24,0,14,4,1,4,0,1,565

 ## 3 Evaluation
 ### Precision .: How many selected items are relevant?
 ### Recall .: How many relevant items are selected?

In [11]:
# BASE MATRICES
diag = np.diag(table.as_matrix()).astype(np.float32)
retrieved= np.sum(table.as_matrix(), axis=0, keepdims=False).astype(np.float32) #preserve columns, sum over rows
relevant= np.sum(table.as_matrix(), axis=1, keepdims=False).astype(np.float32) #preserve rows, sum over columns

#PRECISION
P=np.nan_to_num(diag / retrieved)
precisiondf= pd.DataFrame(data= P, index=table.index, columns=['precision']).fillna(0)
precisiondf.index.name= 'ARG'
# precisiondf

#RECALL
R= np.nan_to_num(diag / relevant)
recalldf= pd.DataFrame(data= R, index=table.index, columns=['recall']).fillna(0)
recalldf.index.name= 'ARG'
# recalldf

#F1
F1= np.nan_to_num(2* ((P * R)/(P + R)))
f1scoredf= pd.DataFrame(data= F1, index=table.index, columns=['f1 score']).fillna(0)
f1scoredf.index.name= 'ARG'

#Concatenate
evaluationdf= pd.concat((precisiondf, recalldf, f1scoredf), axis=1)
evaluationdf

/Users/Varela/anaconda/envs/tensorflow/lib/python3.6/site-packages/ipykernel_launcher.py:13: RuntimeWarning: invalid value encountered in true_divide
  del sys.path[0]
/Users/Varela/anaconda/envs/tensorflow/lib/python3.6/site-packages/ipykernel_launcher.py:19: RuntimeWarning: invalid value encountered in true_divide

        precision    recall  f1 score
ARG
*        0.628123  0.859062  0.725662
A0       0.507830  0.464688  0.485302
A1       0.634137  0.554490  0.591645
A2       0.442895  0.376575  0.407051
A3       0.266667  0.144578  0.187500
A4       0.377358  0.444444  0.408163
AM-ADV   0.097561  0.108108  0.102564
AM-CAU   0.202899  0.091503  0.126126
AM-DIR   0.000000  0.000000  0.000000
AM-DIS   0.240000  0.070588  0.109091
AM-EXT   0.000000  0.000000  0.000000
AM-LOC   0.323944  0.316151  0.320000
AM-MED   0.000000  0.000000  0.000000
AM-MNR   0.138462  0.113924  0.125000
AM-NEG   0.421053  0.307692  0.355556
AM-PNC   0.000000  0.000000  0.000000
AM-PRD   0.000000  0.000000  0.000000
AM-REC   0.000000  0.000000  0.000000
AM-TMP   0.370787  0.151724  0.215334
V        0.895404  0.602345  0.720204

## 3.1 Total scores

In [67]:
df2= df1[['ARG_Y']]
df2['N_ARGS']=df2.groupby('ARG_Y')['ARG_Y'].transform('size')
df2.drop_duplicates(subset='ARG_Y', inplace=True)
# df2
df2.set_index('ARG_Y', inplace=True)
df2=df2.reindex(index=new_index, fill_value=0)
df2
# Get the weights for each
weights= df2['N_ARGS'].as_matrix()

#Totals
#precision
p=100*P.dot(weights)/np.sum(weights)
print('precision: {:.2f}\%'.format(p))
#recall
r=100*R.dot(weights)/np.sum(weights)
print('recall: {:.2f}\%'.format(r))
#F1 score
print('f1 score: {:.2f}\%'.format(2*(p*r)/(p+r)))

precision: 56.79\%
recall: 58.25\%
f1 score: 57.51\%